{
	"presets": ["next/babel"],
	"plugins": [
		["module-resolver", {
			"alias": {
				"@": "./src"
			}
		}],
		["styled-components", {
			"ssr": true
		}]
	],
	"env": {
		"test": {
			"plugins": ["babel-plugin-dynamic-import-node"]
		}
	}
}
